{% extends 'main.twig' %}
{% block head_title %}{{ post.title }} | {{ post.title }}{% endblock %}
{% block body %}
    <article>
        <header class="page-header">
            <h1>{{ post.title }}</h1>
        </header>
        <div>
            {% autoescape false %}{{ post.content }}{% endautoescape %}
        </div>
    </article>
{% endblock %}
